.input-form {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 15px 15px 10px 10px;
  border-radius: 8px;
}

textarea {
  width: 100%;
  border: 1px solid #555;
  background-color: #22252C;
  color: #ddd;
  font-family:  "Noto Sans Mono", monospace;
  font-size: 14px;
  resize: vertical;
  min-height: 400px;
  scrollbar-width: thin; 
  scrollbar-color: #555 #2e2e2e; 
}

.err-text-area {
  border: 1px solid #ff4444;
}

.left-area,
.right-area {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.compare, .fix-json {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF204E;
  font-weight: 700;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.compare:hover {
  background-color: #ff4469;
}

.error {
  color: #ff4444;
  margin: 10px 0;
  white-space: pre-wrap;
}

/* Responsive design adjustments */
@media (min-width: 768px) {
  .input-form {
    flex-direction: row;
    justify-content: center;
  }
}

.input-form-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#sampleData {
  font-family: Inter, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}

a#sampleData:hover {
  color: #FF204E;
}

.sample-data-div {
  padding: 10px;
  text-align: center;
}