@tailwind base;
@tailwind components;
@tailwind utilities;

.marker:text-slate-200 li::marker {
  color: theme('colors.slate.200');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1C1F25;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}

.w-10 {
  width: 10px;
}

.w100 {
  width: 100%;
}

.center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.total-diff {
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 13px;
  padding: 10px;
  font-family: Inter, sans-serif;
  position: absolute;
}

.body-container {
  padding-top: 40px;
}

.grid-template-columns-1-6 {
  grid-template-columns: 1fr 6fr;
}

.grid-template-columns-1 {
  grid-template-columns: 1fr;
}